// Fonts
$primary-font: "Roboto", sans-serif;
$secondary-font: "Roboto Slab", serif;

// Text Colors
$primary-text-color: #fff;
$secondary-text-color: #a6a6a6;
$tertiary-text-color: #e7e7e7;

// Background Colors
$body-bg-color: #271b31;
$primary-bg-color: #111;
$secondary-bg-color: #1b1b1b;

// Border Radius
$container-border-radius: 0.6rem;
$card-border-radius: 0.4rem;

// Style Gradient
$gradient: linear-gradient(90deg, #701cda, #6f1998 100%);
